src/main/webapp/reports/wsdl.xml

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="ParticipantExamRemoteService"
	targetNamespace="http://imp.webservices.ehr.elsa.org.br/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://imp.webservices.ehr.elsa.org.br/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema elementFormDefault="unqualified"
			targetNamespace="http://imp.webservices.ehr.elsa.org.br/" version="1.0"
			xmlns:tns="http://imp.webservices.ehr.elsa.org.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="fetchParticipantBloodExamResult" type="tns:fetchParticipantBloodExamResult" />
			<xs:element name="fetchParticipantBloodExamResultResponse"
				type="tns:fetchParticipantBloodExamResultResponse" />
			<xs:element name="fetchParticipantHemogramExamResult"
				type="tns:fetchParticipantHemogramExamResult" />
			<xs:element name="fetchParticipantHemogramExamResultResponse"
				type="tns:fetchParticipantHemogramExamResultResponse" />
			<xs:element name="fetchParticipantUrineExamResult" type="tns:fetchParticipantUrineExamResult" />
			<xs:element name="fetchParticipantUrineExamResultResponse"
				type="tns:fetchParticipantUrineExamResultResponse" />
			<xs:complexType name="fetchParticipantHemogramExamResult">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="fetchParticipantHemogramExamResultResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return"
						type="tns:participantHemogramExamResult" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="participantHemogramExamResult">
				<xs:sequence>
					<xs:element minOccurs="0" name="basofilos" type="xs:string" />
					<xs:element minOccurs="0" name="bastonetes" type="xs:string" />
					<xs:element minOccurs="0" name="birthdate" type="xs:long" />
					<xs:element minOccurs="0" name="chcm" type="xs:string" />
					<xs:element minOccurs="0" name="eosinofilos" type="xs:string" />
					<xs:element minOccurs="0" name="eritrocitos" type="xs:string" />
					<xs:element minOccurs="0" name="fieldCenter" type="xs:string" />
					<xs:element minOccurs="0" name="firstBsfbBeginDate"
						type="xs:long" />
					<xs:element minOccurs="0" name="hcm" type="xs:string" />
					<xs:element minOccurs="0" name="hematocrito" type="xs:string" />
					<xs:element minOccurs="0" name="hemoglobina" type="xs:string" />
					<xs:element minOccurs="0" name="imagePath" type="xs:string" />
					<xs:element minOccurs="0" name="leucocitos" type="xs:string" />
					<xs:element minOccurs="0" name="linfocitos" type="xs:string" />
					<xs:element minOccurs="0" name="monocitos" type="xs:string" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
					<xs:element minOccurs="0" name="neutrofilos" type="xs:string" />
					<xs:element minOccurs="0" name="plaquetas" type="xs:string" />
					<xs:element minOccurs="0" name="rdw" type="xs:string" />
					<xs:element minOccurs="0" name="recruitmentNumber" type="xs:int" />
					<xs:element minOccurs="0" name="segmentados" type="xs:string" />
					<xs:element minOccurs="0" name="vcm" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="fetchParticipantUrineExamResult">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="fetchParticipantUrineExamResultResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return"
						type="tns:participantUrineExamResult" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="participantUrineExamResult">
				<xs:sequence>
					<xs:element minOccurs="0" name="birthdate" type="xs:long" />
					<xs:element minOccurs="0" name="calcioObs" type="xs:string" />
					<xs:element minOccurs="0" name="calcioResult" type="xs:string" />
					<xs:element minOccurs="0" name="calcioVolume" type="xs:string" />
					<xs:element minOccurs="0" name="creatininaObs" type="xs:string" />
					<xs:element minOccurs="0" name="creatininaResult" type="xs:string" />
					<xs:element minOccurs="0" name="creatininaVolume" type="xs:string" />
					<xs:element minOccurs="0" name="fieldCenter" type="xs:string" />
					<xs:element minOccurs="0" name="firstUrineAliquotingBeginDate"
						type="xs:long" />
					<xs:element minOccurs="0" name="imagePath" type="xs:string" />
					<xs:element minOccurs="0" name="microalbuminuriaObs"
						type="xs:string" />
					<xs:element minOccurs="0" name="microalbuminuriaResult"
						type="xs:string" />
					<xs:element minOccurs="0" name="microalbuminuriaVolume"
						type="xs:string" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
					<xs:element minOccurs="0" name="potassioObs" type="xs:string" />
					<xs:element minOccurs="0" name="potassioResult" type="xs:string" />
					<xs:element minOccurs="0" name="potassioVolume" type="xs:string" />
					<xs:element minOccurs="0" name="recruitmentNumber" type="xs:int" />
					<xs:element minOccurs="0" name="sodioObs" type="xs:string" />
					<xs:element minOccurs="0" name="sodioResult" type="xs:string" />
					<xs:element minOccurs="0" name="sodioVolume" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="fetchParticipantBloodExamResult">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="fetchParticipantBloodExamResultResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return"
						type="tns:participantBloodExamResult" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="participantBloodExamResult">
				<xs:sequence>
					<xs:element minOccurs="0" name="alaninaTransaminaseObs"
						type="xs:string" />
					<xs:element minOccurs="0" name="alaninaTransaminaseResult"
						type="xs:string" />
					<xs:element minOccurs="0" name="aspartatoTransaminaseObs"
						type="xs:string" />
					<xs:element minOccurs="0" name="aspartatoTransaminaseResult"
						type="xs:string" />
					<xs:element minOccurs="0" name="birthdate" type="xs:long" />
					<xs:element minOccurs="0" name="colesterolHdlObs" type="xs:string" />
					<xs:element minOccurs="0" name="colesterolHdlResult"
						type="xs:string" />
					<xs:element minOccurs="0" name="colesterolLdlObs" type="xs:string" />
					<xs:element minOccurs="0" name="colesterolLdlResult"
						type="xs:string" />
					<xs:element minOccurs="0" name="colesterolTotalObs"
						type="xs:string" />
					<xs:element minOccurs="0" name="colesterolTotalResult"
						type="xs:string" />
					<xs:element minOccurs="0" name="creatininaObs" type="xs:string" />
					<xs:element minOccurs="0" name="creatininaResult" type="xs:string" />
					<xs:element minOccurs="0" name="fieldCenter" type="xs:string" />
					<xs:element minOccurs="0" name="firstBsfbBeginDate"
						type="xs:long" />
					<xs:element minOccurs="0" name="firstBspobBeginDate"
						type="xs:long" />
					<xs:element minOccurs="0" name="gamaGlutamilTransferaseObs"
						type="xs:string" />
					<xs:element minOccurs="0" name="gamaGlutamilTransferaseResult"
						type="xs:string" />
					<xs:element minOccurs="0" name="glicose120MinObs" type="xs:string" />
					<xs:element minOccurs="0" name="glicose120MinResult"
						type="xs:string" />
					<xs:element minOccurs="0" name="glicoseObs" type="xs:string" />
					<xs:element minOccurs="0" name="glicoseResult" type="xs:string" />
					<xs:element minOccurs="0" name="hemoglobinaGlicadaObs"
						type="xs:string" />
					<xs:element minOccurs="0" name="hemoglobinaGlicadaResult"
						type="xs:string" />
					<xs:element minOccurs="0" name="imagePath" type="xs:string" />
					<xs:element minOccurs="0" name="insulina120MinObs" type="xs:string" />
					<xs:element minOccurs="0" name="insulina120MinResult"
						type="xs:string" />
					<xs:element minOccurs="0" name="insulinaObs" type="xs:string" />
					<xs:element minOccurs="0" name="insulinaResult" type="xs:string" />
					<xs:element minOccurs="0" name="name" type="xs:string" />
					<xs:element minOccurs="0" name="recruitmentNumber" type="xs:int" />
					<xs:element minOccurs="0" name="trigliceridesObs" type="xs:string" />
					<xs:element minOccurs="0" name="trigliceridesResult"
						type="xs:string" />
					<xs:element minOccurs="0" name="ureiaObs" type="xs:string" />
					<xs:element minOccurs="0" name="ureiaResult" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="fetchParticipantBloodExamResult">
		<wsdl:part element="tns:fetchParticipantBloodExamResult"
			name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="fetchParticipantHemogramExamResultResponse">
		<wsdl:part element="tns:fetchParticipantHemogramExamResultResponse"
			name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="fetchParticipantHemogramExamResult">
		<wsdl:part element="tns:fetchParticipantHemogramExamResult"
			name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="fetchParticipantUrineExamResultResponse">
		<wsdl:part element="tns:fetchParticipantUrineExamResultResponse"
			name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="fetchParticipantUrineExamResult">
		<wsdl:part element="tns:fetchParticipantUrineExamResult"
			name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="fetchParticipantBloodExamResultResponse">
		<wsdl:part element="tns:fetchParticipantBloodExamResultResponse"
			name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ParticipantExamRemote">
		<wsdl:operation name="fetchParticipantHemogramExamResult">
			<wsdl:input message="tns:fetchParticipantHemogramExamResult"
				name="fetchParticipantHemogramExamResult">
			</wsdl:input>
			<wsdl:output message="tns:fetchParticipantHemogramExamResultResponse"
				name="fetchParticipantHemogramExamResultResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="fetchParticipantUrineExamResult">
			<wsdl:input message="tns:fetchParticipantUrineExamResult"
				name="fetchParticipantUrineExamResult">
			</wsdl:input>
			<wsdl:output message="tns:fetchParticipantUrineExamResultResponse"
				name="fetchParticipantUrineExamResultResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="fetchParticipantBloodExamResult">
			<wsdl:input message="tns:fetchParticipantBloodExamResult"
				name="fetchParticipantBloodExamResult">
			</wsdl:input>
			<wsdl:output message="tns:fetchParticipantBloodExamResultResponse"
				name="fetchParticipantBloodExamResultResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ParticipantExamRemoteServiceSoapBinding"
		type="tns:ParticipantExamRemote">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="fetchParticipantHemogramExamResult">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="fetchParticipantHemogramExamResult">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="fetchParticipantHemogramExamResultResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="fetchParticipantUrineExamResult">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="fetchParticipantUrineExamResult">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="fetchParticipantUrineExamResultResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="fetchParticipantBloodExamResult">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="fetchParticipantBloodExamResult">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="fetchParticipantBloodExamResultResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ParticipantExamRemoteService">
		<wsdl:port binding="tns:ParticipantExamRemoteServiceSoapBinding"
			name="ParticipantExamRemotePort">
			<soap:address location="http://localhost:8080/ehr/ParticipantExamService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>